@keyframes hover-animation {
    0% { translate: 0px 0px; }
    50% { translate: 0px 5px; }
    100% { translate: 0px 0px; }
}

.hover-text {
    animation-name: hover-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
